<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176353477956-bdgb338e3dgvb8umjk53gu4he6akla0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176353477956-bdgb338e3dgvb8umjk53gu4he6akla0d</string>
	<key>API_KEY</key>
	<string>AIzaSyC890i0VyI57HSa0QtawIVgJjCGNB3vcGM</string>
	<key>GCM_SENDER_ID</key>
	<string>176353477956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>family.lever.ppp</string>
	<key>PROJECT_ID</key>
	<string>personalprojectplanning1</string>
	<key>STORAGE_BUCKET</key>
	<string>personalprojectplanning1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176353477956:ios:ee9b9b787dfc9dd824c311</string>
</dict>
</plist>